<nz-tabset nzCentered [(nzSelectedIndex)]="tabsetIndex">
  <nz-tab nzTitle="計算" nzDisabled="true">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="total" nzRequired
          >房屋总价</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input total !"
        >
          <input
            (ngModelChange)="updateBorrowTotal()"
            nz-input
            id="total"
            autocomplete="off"
            formControlName="total"
            placeholder="万"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstPayment"
          >首付</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select
            formControlName="firstPayment"
            id="firstPayment"
            [(ngModel)]="firstPaymentModel"
            (ngModelChange)="updateBorrowTotal()"
          >
            <nz-option
              *ngFor="let item of firstPaymentList"
              [nzValue]="item.value"
              [nzLabel]="item.label"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">贷款</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <span class="borrow-total">{{ borrowTotal }}</span
          >万
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>利率</nz-form-label>
        <nz-form-control
          nzErrorTip="Please input rate !"
          [nzSm]="14"
          [nzXs]="24"
        >
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <ng-template #addOnBeforeTemplate>
              <nz-select [(ngModel)]="rateModel" formControlName="rateType">
                <nz-option
                  *ngFor="let item of rateList"
                  [nzLabel]="item.label"
                  [nzValue]="item.value"
                ></nz-option>
              </nz-select>
            </ng-template>
            <input
              autocomplete="off"
              formControlName="rate"
              placeholder="%"
              id="rate"
              nz-input
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="time"
          >贷款年限</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="time" id="time" [(ngModel)]="yearModel">
            <nz-option
              *ngFor="let item of yearList"
              [nzValue]="item.value"
              [nzLabel]="item.label"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="return"
          >还款方式</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-radio-group
            formControlName="return"
            id="return"
            [(ngModel)]="typeModel"
            nzName="radiogroup"
          >
            <label nz-radio nzValue="A">等额本息</label>
            <label nz-radio nzValue="B">等额本金</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">计算</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-tab>
  <nz-tab nzTitle="結果" nzDisabled="true">
    <div class="result">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="back()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">贷款总额 (万)</nz-form-label>
          <nz-form-control
            [nzSm]="12"
            [nzXs]="24"
            nzErrorTip="Please input total!"
          >
            <input
              nz-input
              disabled
              [value]="borrowTotal | number"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">还款总额 (万)</nz-form-label>
          <nz-form-control
            [nzSm]="12"
            [nzXs]="24"
            nzErrorTip="Please input total!"
          >
            <input
              nz-input
              disabled
              [value]="data.total | number"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label disabled [nzSm]="6" [nzXs]="24"
            >支付利息总额 (万)</nz-form-label
          >
          <nz-form-control
            [nzSm]="12"
            [nzXs]="24"
            nzErrorTip="Please input total!"
          >
            <input
              nz-input
              disabled
              [value]="data.interest | number"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">月均还款</nz-form-label>
          <nz-form-control
            [nzSm]="12"
            [nzXs]="24"
            nzErrorTip="Please input total!"
          >
            <input
              *ngIf="month(); else listRef"
              nz-input
              disabled
              [value]="data.months | number"
              type="text"
            />

            <ng-template #listRef>
              <ul>
                <li *ngFor="let item of monthsList">{{item}}</li>
              </ul>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">返回</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </nz-tab>
</nz-tabset>
